<app-nav-bar></app-nav-bar>

<h1 class="text-b text-center py-5" style="font-weight: bold; 
                                            font-size: 30px;
">Select the best universities based on your achievements.</h1>

<!-- list of colleges -->

<div class="container text-center p-4 shadow rounded-top mb-4" style="background-color: white;">
  <div class="row">
    <div class="col-md-5">
      <img class="" [src]="sherabtse" alt="">
    </div>
    <div class="col-md-7">
      <h1 class=" text-b fs-2" style="font-weight: bold; color: rgb(16, 16, 16); 
        ">Sherabtse College</h1>
      <p class="p-3" style="text-align: justify;">Sherubtse College, nestled in the serene surroundings of Kanglung, Trashigang District,
        is a venerable institution of higher learning in Bhutan. Established in 1966, it has evolved into a premier
        liberal arts college, offering a diverse range of undergraduate and postgraduate programs. Renowned for its
        academic excellence and holistic approach to education, Sherubtse College fosters intellectual growth, cultural
        enrichment, and social responsibility among its students. With a dedicated faculty and a vibrant campus
        community,
        the college provides a nurturing environment for students to excel academically, engage in extracurricular
        activities,
        and contribute meaningfully to society. Sherubtse College continues to uphold its legacy as a beacon of
        educational excellence,
        shaping the future leaders of Bhutan and beyond.</p>

    </div>
  </div>
</div>


<div class="container text-center p-4 shadow rounded-top mb-4" style="background-color: white;">
  <div class="row">
    <div class="col-md-5">
      <img class="" [src]="rtc" alt="">
    </div>
    <div class="col-md-7">
      <h1 class="text-center text-b fs-2" style="font-weight: bold; color: rgb(16, 16, 16);
        ">Royal Thimphu College</h1>
      <p class="p-3" style="text-align: justify;">RTC, or Royal Thimphu College, situated in Thimphu, Bhutan, stands as a beacon of
        higher education excellence. Established in 2008 in collaboration with the Royal Government of Bhutan and
        the Royal University of Bhutan, RTC offers a wide array of undergraduate and postgraduate programs in fields
        such as social sciences, humanities, business, and environmental studies. With its emphasis on holistic
        education, RTC fosters critical thinking, cultural understanding, and leadership skills among its students,
        preparing them to become responsible global citizens.</p>
    </div>
  </div>
</div>

<div class="container text-center p-4 shadow rounded-top mb-4" style="background-color: white;">
  <div class="row">
    <div class="col-md-5">
      <img class="" [src]="gyelpozhing" alt="">
    </div>
    <div class="col-md-7">
      <h1 class="text-center text-b fs-2" style="font-weight: bold; color: rgb(16, 16, 16);
        ">Gyelpozhing College</h1>
      <p class="p-3" style="text-align: justify;">Gyalpozhing College of Information Technology, located in Gyalpozhing, Mongar District,
        Bhutan, is a leading institution in the field of information technology and management. Established in 2008
        under the Royal University of Bhutan, Gyalpozhing College offers undergraduate programs in computer science,
        information technology, and management studies. With state-of-the-art facilities and a dynamic learning
        environment, Gyalpozhing College equips students with the knowledge and skills needed to excel in the
        rapidly evolving field of information technology and contribute to the digital transformation of Bhutan
        and beyond.</p>

    </div>
  </div>
</div>

<div class="container text-center p-4 shadow rounded-top mb-4" style="background-color: white;">
  <div class="row">
    <div class="col-md-5">
      <img class="rounded-circle" [src]="samtse" alt="">
    </div>
    <div class="col-md-7">
      <h1 class="text-center text-b fs-2" style="font-weight: bold; color: rgb(16, 16, 16);
        ">Samtse College Of Education</h1>
      <p class="p-3" style="text-align: justify;">Paro College of Education, nestled in the picturesque valley of Paro, Bhutan, is
        dedicated to the training and development of educators. Established in 1975, Paro College offers diploma
        and degree programs in education, with a focus on teacher training and professional development. Committed
        to promoting excellence in education, Paro College provides a comprehensive curriculum, hands-on teaching
        experience, and opportunities for research and innovation. Through its rigorous academic programs and
        practical training, Paro College prepares educators to inspire and empower future generations,
        contributing to the advancement of education and nation-building efforts in Bhutan.

      </p>
    </div>
  </div>
</div>


<div class="container text-center p-4 shadow rounded-top mb-4" style="background-color: white;">
  <div class="row">
    <div class="col-md-5">
      <img class="rounded-circle" [src]="cnr" alt="">
    </div>
    <div class="col-md-7">
      <h1 class="text-center text-b fs-2" style="font-weight: bold; color: rgb(16, 16, 16);
        ">College Of Natural Resources</h1>
      <p class="p-3" style="text-align: justify;">CST, or College of Science and Technology, located in Rinchending, Phuentsholing,
        Bhutan, is a prominent institution dedicated to advancing scientific education and research. Established
        in 2001 under the Royal University of Bhutan, CST offers undergraduate programs in engineering disciplines
        such as civil, electrical, electronics and communication, and information technology. With modern
        laboratories, experienced faculty, and industry partnerships, CST provides students with a comprehensive
        education that combines theoretical knowledge with practical skills. Committed to fostering innovation
        and technological advancement, CST plays a crucial role in shaping the future of Bhutan's engineering
        workforce and contributing to the nation's socio-economic development.

      </p>
    </div>
  </div>
</div>


<div class="container text-center p-4 shadow rounded-top mb-4" style="background-color: white;">
  <div class="row">
    <div class="col-md-5">
      <img class="rounded-circle" [src]="cst" alt="">
    </div>
    <div class="col-md-7">
      <h1 class="text-center text-b fs-2" style="font-weight: bold; color: rgb(16, 16, 16);
        ">College Of Science And Technology</h1>
      <p class="p-3" style="text-align: justify;">CNR, or College of Natural Resources, situated in Lobesa, Punakha District, Bhutan,
        is renowned for its focus on environmental conservation and sustainable development. Established in 1993
        under the Royal University of Bhutan, CNR offers undergraduate and postgraduate programs in forestry,
        natural resource management, environmental science, and agriculture. With its emphasis on experiential
        learning, research, and community engagement, CNR equips students with the knowledge and skills needed
        to address complex environmental challenges and promote sustainable practices. Through fieldwork,
        internships, and outreach activities, CNR nurtures future leaders in environmental stewardship,
        contributing to the preservation of Bhutan's rich biodiversity and the well-being of its people.
      </p>
    </div>
  </div>
</div>


<div class="container text-center p-4 shadow rounded-top mb-4" style="background-color: white;">
  <div class="row">
    <div class="col-md-5">
      <img class="rounded-circle" [src]="parocollege" alt="">
    </div>
    <div class="col-md-7">
      <h1 class="text-center text-b fs-2" style="font-weight: bold; color: rgb(16, 16, 16);
        ">Paro College Of Education</h1>
      <p class="p-3" style="text-align: justify;">Paro College, located in the picturesque town of Paro, Bhutan, is a prestigious
        institution dedicated to excellence in education and research. Established in 1975 under the Royal
        University of Bhutan, Paro College offers undergraduate and postgraduate programs in various disciplines,
        including education, humanities, social sciences, and environmental studies. With its commitment to
        academic rigor, innovation, and holistic development, Paro College provides students with a
        transformative learning experience that fosters critical thinking, creativity, and leadership skills.
        Through its rigorous curriculum, state-of-the-art facilities, and vibrant campus community,
        Paro College empowers students to become lifelong learners and responsible citizens, making
        meaningful contributions to society and advancing Bhutan's socio-economic development.
      </p>
    </div>
  </div>
</div>


<div class="container text-center p-4 shadow rounded-top mb-4" style="background-color: white;">
  <div class="row">
    <div class="col-md-5">
      <img class="" [src]="taktse" alt="">
    </div>
    <div class="col-md-7">
      <h1 class="text-center text-b fs-2" style="font-weight: bold; color: rgb(16, 16, 16);
        ">Taktse College of Language and Cultural Studies</h1>
      <p class="p-3" style="text-align: justify;">
        Taktse College of Language and Cultural Studies, nestled in the serene valley of Trongsa, Bhutan, is
        a distinguished institution dedicated to the preservation and promotion of Bhutanese language, culture,
        and heritage. Established in 2008 under the Royal University of Bhutan, Taktse College offers
        undergraduate programs in Bhutanese language, literature, history, and cultural studies. With
        its unique focus on Bhutanese traditions and values, Taktse College provides students with a deep
        understanding of the country's rich cultural heritage and its significance in contemporary society.
        Through immersive learning experiences, research projects, and community engagement initiatives,
        Taktse College cultivates a new generation of scholars and cultural ambassadors, committed to
        preserving and celebrating Bhutan's unique identity on both national and global stages.
    </div>
  </div>
</div>

<app-footer></app-footer>