<app-nav-bar></app-nav-bar>
<div>
<img [src]="hat" class="rounded mx-auto d-block py-3">

  <div class="container text-center py-5">
    <div class="row">
      <div class="col">
        <img [src]="education" class="rounded pb-3">
      </div>
      <div class="col pt-5">
        <h1 class="gradient-text fs-1">UNIVERSITY OF BHUTAN</h1>
        <p class="fs-6">
            The University of Bhutan is the premier institution for higher education in Bhutan, offering a diverse range of academic
            programs and research opportunities. It comprises several colleges and institutes spread across the country, catering to
            various fields of study such as arts, sciences, engineering, and medicine. With a focus on holistic education and 
            cultural preservation, the University of Bhutan plays a vital role in shaping the future leaders and professionals
            of the kingdom.</p>
      </div>
    </div>
  </div>

  <hr class="border border-primary border-3 opacity-75">

  <mat-tab-group>
    <mat-tab label="Colleges">
      <div class="container">
      <div class="photo-gallery">
        <div class="column" style="margin-bottom: 50px;">
          <div class="photo">
        
            <img [src]="sherabtse" alt="" [style.width.px]="400">
            
            <div class="content">
              <a  href="https://www.sherubtse.edu.bt/" target="_blank" style="text-decoration: none;">
                <h1 class="text-center alighn-item-center">Sherubtse College</h1>
              </a>
              
              <p class="text-center">Sherubtse College, located in Kanglung, Bhutan, is one of the oldest and most prestigious institutions of higher education in the country.</p>
            </div>
          </div>
          <div class="photo">
            <img [src]="rtc" alt="" [style.width.px]="400">
            <div class="content">
              <a href="https://www.rtc.bt/" target="_blank" style="text-decoration: none;">
                <h1 class="text-center alighn-item-center">Royal Thimphu College</h1>
              </a>
  
              <p class="text-center">RTC College in Bhutan is a leading institution for vocational education, providing hands-on training and industry partnerships for career-ready graduates.</p>
            </div>
          </div>
          <div class="photo">
            <img [src]="gyelpozhing" alt="" [style.width.px]="400">
            <div class="content">
              <a href="https://www.gcit.edu.bt/" target="_blank" style="text-decoration: none;">
                <h1 class="text-center alighn-item-center">Gyelpozhing College</h1>
              </a>
    
              <p class="text-center">Gyelpozhing College in eastern Bhutan offers undergraduate programs in arts, sciences, and commerce, fostering academic excellence and holistic development for students to contribute to Bhutan's progress.</p>
            </div>
          </div>
        </div>

        <div class="column" style="margin-bottom: 80px;">
          <div class="photo">
            <img [src]="cst" alt="" [style.width.px]="400">
            <div class="content">
              <a href="https://cst.edu.bt/index.php/en/" target="_blank" style="text-decoration: none;">
                <h1 class="text-center alighn-item-center" >College of Science and Technology (CST)</h1>
              </a>
             
              <p class="text-center"> With a focus on practical skills and industry relevance, CST College equips students with the knowledge and expertise needed to thrive in today's dynamic digital landscape.</p>
            </div>
          </div>

          <div class="photo">
            <img [src]="samtse" alt="" [style.width.px]="400">
            <div class="content">
              <a href="https://www.sce.edu.bt/" target="_blank" style="text-decoration: none;">
                <h1 class="text-center alighn-item-center">Samtse College Of Education</h1>
              </a>
             
              <p class="text-center"> It focuses on nurturing future educators with a commitment to academic 
                excellence and holistic development, contributing to Bhutan's educational advancement.
              </p>
            </div>
          </div>

          <div class="photo">
            <img [src]="taktse" alt="" [style.width.px]="400">
            <div class="content">
              <a href="https://www.clcs.edu.bt/" target="_blank" style="text-decoration: none;">
                <h1 class="text-center alighn-item-center">Taktse College</h1>
              </a>
             
              <p class="text-center"> specializes in undergraduate programs, emphasizing holistic development and academic excellence for students to contribute to societal progress.</p>
            </div>
          </div>
        </div>

        <div class="column">
              <div class="photo">
            <img [src]="cnr" alt="" [style.width.px]="400">
            <div class="content">
              <a href="https://www.cnr.edu.bt/" target="_blank" style="text-decoration: none;">
              <h1 class="text-center alighn-item-center">College of Natural Resources</h1>
            </a>
              <p class="text-center">CNR College, or College of Natural Resources, is a prominent institution in Bhutan specializing in agricultural and environmental sciences education.</p>
            </div>
          </div>

          <div class="photo">
            <img [src]="athang" alt="" [style.width.px]="400">
            <div class="content">
              <a href="https://www.athang.com/public/w" target="_blank" style="text-decoration: none;">
                <h1 class="text-center alighn-item-center">Athang Training Institute</h1>
              </a>
              
              <p class="text-center">Athang Training Institute prioritizes ICT training as a cornerstone of its 
                educational programs, equipping students with skills that enhance their efficiency and competitiveness 
                in the job market</p>
            </div>
          </div>

          <div class="photo">
            <img [src]="parocollege" alt="" [style.width.px]="400">
            <div class="content">
              <a href="https://www.pce.edu.bt/?page_id=180&lang=en" target="_blank" style="text-decoration: none;">
                <h1 class="text-center alighn-item-center">Paro College of Education</h1>
              </a>
              
              <p class="text-center">With a commitment to academic excellence and holistic development, 
                it prepares future educators to contribute meaningfully to Bhutan's education system and
                 societal advancement.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </mat-tab>
    <mat-tab label="Diploma"> 
    
      
<h1 class="text-center py-3" style="font-weight: bold;">Acquire your Diploma from Athang Training Institute.</h1>

<div class="container text-center border border-black p-5 mb-5">
    <div class="row">
      <div class="col-lg-4 col-md-4 mx-auto mb-4">
        <img [src]="logo">
      </div>
      <div class="col-lg-6 col-md-6">
        <h1 class="text-w-bold">Who Are We?</h1>
        <h2>Athang is a pioneering software development and training academy firm greatly driven by the information technology.</h2>
        <p class="text-start">The company was founded in 2005 with the aim to meet the ever changing demand of the customers in the field
             of ICT. Athang strives for the excellence in offering our services, be it a training programme or
              developing your website or producing an animation work that our audience would love to watch or
               restoring your internet breakdown and many more… As a company, Athang believes in the team work
                and democratic working culture to bring the best of every employees at personal as well as 
                professional level.</p>

                <a href="https://www.athang.com/public/w" target="_blank">Read More</a><br><br>
      </div>
    </div>
  </div>

<!-- cart -->

<h1 class="text-center fs-2">Meet Athang Executive</h1>

<div class="container-cart">
    <div class="row justify-content-evenly">
      <div class="col-lg-3 col-md-6">
        <div class="card p-4 border">
          <img [src]="ceo" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <h2 class="text-center p-0">Karma Dhendup</h2>
            <h3 class="text-center" style="color: gray;">Founder & Chief Executive Officer</h3>
            <p class="text-center">We would like to become our customers friendly advisor on ICT matters, so that we 
                can propose suitable ICT-enabled solutions incorporating best practices and reliable technical skills.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card p-4">
          <img [src]="adm" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <h2 class="text-center p-0">Yeshi Singye</h2>
            <h3 class="text-center" style="color: gray;">ADM</h3>
            <p class="text-center"> My responsibilities extend beyond mere number-crunching; I am also tasked with
                 providing comprehensive oversight.
                  </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card p-4">
          <img [src]="director" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h2 class="text-center p-0">Tshering Choki</h2>
            <h3 class="text-center" style="color: gray;">Director</h3>
            <p class="text-center">Expert in Community-based Sustainable Tourism and Ecotourism, heads Training Academy 
                and Athang Adventures, Director of Athang Pvt Ltd...</p>
          </div>
        </div>
      </div>
    </div>
  </div>

      
    </mat-tab>
    <mat-tab label="Events">
    
      <app-events></app-events>

    </mat-tab>
  </mat-tab-group>
</div>


<br>
<app-footer></app-footer>


