<nav class="navbar navbar-expand-lg bg-body-tertiary border">
    <div class="container-fluid">
      <img [src]="logo" width="70px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/get-college">Registered Student</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Serivce
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/college" class="dropdown-item">Register</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="/diploma" class="dropdown-item">About</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>