<div class="text-center py-5 text-white" style="background-color: #114B5F">
    <div class="row">
     <div class="col">
        <img [src]="logo" width="90px">
        <h3>UNIVERSITY OF BHUTAN</h3>
        <p>Telephone: +975 2 336454</p>
     </div>
      <div class="col text-start">
        <h2>Quick Link</h2>
        <p>RUB IMS</p>
        <p>RUB MAIL</p>
        <p>Sitemap</p>
        <p>FAQ</p>         
      </div>

<div class="col text-start">
    <h2>Contact Us</h2>
        <i class="fa-solid fa-phone"></i>
        <p style="display: inline; margin-left: 5px;">(+971) 17935640</p><br><br>

        <i class="fa-solid fa-envelope"></i>
        <p  style="display: inline; margin-left: 5px;">tsheringtashi123 &#64;gmail.com</p><br><br>
 
        <i class="fa-solid fa-location-dot"></i>
    <p style="display: inline; margin-left: 5px;">Lower Motithang,<br> Thimphu Bhutan</p>
</div>
      <div class="col text-start">
        <h2>Download and Publication</h2>
        <p>Online Services & Forms</p>
        <P>EBSCO</P>
        <P>RUB E-Newsletter</P>
        <P>RUB E-Calendar 2024</P>
      </div>
      <HR>
    </div>

    <i class="fa-brands fa-facebook gg"></i>
    <i class="fa-brands fa-twitter gg"></i>
    <i class="fa-brands fa-instagram gg"></i>
    <i class="fa-brands fa-telegram gg"></i>

    <p class="pt-5">&copy; {{ currentYear }} Your Website Name. All rights reserved.</p>
    
  </div>
  
  
  
  
  